.App {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

:root {
  --leva-panel-width: 350px;
}

.leva-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: var(--leva-panel-width);
  max-width: 100vw;
  z-index: 1000;
}

@media (max-width: 1023px) {
  .leva-panel {
    width: 100vw;
    left: 0;
    right: 0;
  }
}
